@font-face 
{
	font-family: 'RuneScape UF';
	font-style: normal;
	font-weight: normal;
	src: url('runescape_uf.ttf') format('ttf');
}
.root
{
	-fx-background-color: image-pattern("/wool.png");
}

#my-table .table-column
{
	-fx-alignment: CENTER;
	-fx-font-family: "RuneScape UF", normal;
	-fx-font-size: 13;
	-fx-text-fill: #FFD700;
}

#my-table
{
	.table-view .scroll-bar: horizontal .increment-arrow,
	.table-view .scroll-bar: horizontal .decrement-arrow,
	.table-view .scroll-bar: horizontal .increment-button,
	.table-view .scroll-bar: horizontal .decrement-button
	{
		-fx-padding: 0;
	}

	.table-view .scroll-bar: vertical .increment-arrow,
	.table-view .scroll-bar: vertical .decrement-arrow-arrow,
	.table-view .scroll-bar: vertical .increment-button,
	.table-view .scroll-bar: vertical .decrement-button,
	{
		-fx-padding: 0;

	}

	.table-view
	{
		-fx-control-inner-background: #000000;
		-fx-border-color:#000000;
		-fx-border-width: 3;
}
	}
}

#my-table .table-view:focused
{
	-fx-background-color: transparent
}

.table-view .column-header-background
{
    -fx-background-color: image-pattern("/wool.png");
}

.table-view .column-header,
.table-view .filler,
.table-view .column-header-background .filler
{
    -fx-background-color: transparent;
}

.table-view .filler
{
	fx-background-color: #000000;
}

.table-row-cell
{
    -fx-background-color: #616161;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-table-cell-border-color: #000000;

}

.table-row-cell:odd
{
    -fx-background-color: #424242;
    -fx-background-insets: 0, 0 0 0 0;
}

.table-row-cell:selected 
{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.label
{
	-fx-font-family: "RuneScape UF", normal;
	-fx-font-size: 16;
	-fx-text-fill: #FFD700;
}

.button
{
	-fx-font-family: "RuneScape UF", normal;
	-fx-font-size: 15;
	-fx-text-fill: #FFD700;
	-fx-background-color: #1a1a1a;
	-fx-border-color: #FFD700;
	-fx-background-insets: 0;
}

.button:hover
{
	-fx-font-family: "RuneScape UF", normal;
	-fx-font-size: 15;
	-fx-text-fill: #1a1a1a;
	-fx-background-color: #FFD700;
	-fx-border-color: #1a1a1a;
}

.text-field
{
	-fx-font-family: "RuneScape UF", normal;
	-fx-font-size: 13;
	-fx-text-fill: #FFD700;
	-fx-control-inner-background: #1a1a1a;

}

#top-pane
{
	-fx-background-color: image-pattern("/wool.png");

}

#bottom-pane
{
	-fx-background-color: radial-gradient(center 50% 50%, radius 75%, #131313, #424141);
}

.region
{
	-fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;

}